.objectsIcon1{
    margin-top: 71px;
    margin-left: 630px;
}
.objectText{
    
    color:white;
    font-size: 16px;
    text-align: center;
    text-align-last: center;
    margin-left: 630px;
    
   
    
}
.quality{
    width: 318px;
}
.block{

}