.MaventSistem {
    background-image:url('./img/info.png');
    color:white;
    font-size: 16px;
    text-align: center;
    text-align-last: center;
    height: 500px;

    
};
.FasadSistem{
    margin-top: 75px,
};

